<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <title>Projects</title>
    <style>
            body {
                font-family:"Times New Roman", serif
            }
            h1,h2,h3,h4,h5,h6 {
                font-family:serif; letter-spacing:5px
            }
    </style>
</head>

<br>
<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>

<br>
<br>

<a href="/home">back</a>

    <br>
    <br>

    <% datas.forEach(function(item) { %>
        <p id="p3"><%= item.id %></p>
        <h2><%= item.key %></h2>
        <h2 name="tl"><%= item.pid %></h2>
        <h2><%= item.desc %></h2>
        <h2><%= item.owner %></h2>
        <h2><%= item.members %></h2>
        <form action="/dashboard" method="get">
            <button type="submit" name="rsk" value="<%= item.id %>">Details</button>
        </form>
        <br>
        <br>
        <br>
        <hr>
        
        <form action="/risks" method="post">
  
            <label>Risk <span class="required">*</span></label>
            <input type="text" name="risk" class="field-divided" placeholder="Description" />
                <label>Status <span class="required">*</span></label>
                <input type="text" name="stats" class="field-divided" placeholder="status" />

                <button type="submit" name="addSt" value="<%= item.id %>" onchange="this.form.submit()">add</button>

        </form>






    <% }) %>
        



    


<script>
    
</script>
     
</body>
</html>